{
  "presets": [
    "flow",
    "env",
    "react",
    "stage-0"
],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "test": {
      "plugins": ["transform-react-jsx-source"],
      "presets": ["env", "stage-0"]
    }
  }
}