{
  "presets": [
    "flow",
    "env",
    "react",
    "stage-0"
],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".css"],
        "alias": {
          "actions": "./src/actions",
          "assets": "./src/assets",
          "components": "./src/components",
          "config": "./src/config",
          "containers": "./src/containers",
          "reducers": "./src/reducers",
          "reduxTypes": "./src/reduxTypes",
          "sagas": "./src/sagas",
          "services": "./src/services",
          "styles": "./src/styles",
          "utils": "./src/utils"
        }
      }
    ],
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "test": {
      "plugins": ["transform-react-jsx-source"],
      "presets": ["env", "stage-0"]
    }
  }
}