.container {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  width: 100%;
}

.logos {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logoButton {
  border-color: transparent;
  outline: 0;
}

.logoImg {
  height: 32px;
  width: 32px;
}